h1, h2 {
  font-family: 'Cinzel Decorative', cursive;
  color: #2a2a2a;
  font-weight: bolder;
  text-align: center;
}

body {
  width: 640px;
  margin: 0 auto;
  background-color: #CED9B8;
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
}

button {
  /* 
  link: https://www.w3schools.com/css/css3_buttons.asp
  Helped w/ button styling
  */
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bolder;
  border: 0;
  background: dimgray;
  position: absolute;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
}

.gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
}